
.introductionWrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
  background: var(--primary-dark-card); /* Dimmed background */
  border-radius: 10px;
  max-width: 500px; /* Adjust as needed */
  margin: auto; /* Center the container */
  margin-top: 4rem;
}

.introductionContainer {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px; /* Adjust as needed */
  width: 100%; /* Make sure it takes full width of its parent */
}

.profileImage {
  border-radius: 20%; /* Circular image */
  margin-right: 1rem; /* Space between image and text */
  border: 3px solid var(--primary-light-border); /* White border around the image */
}


.introductionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px; /* Maximum width for the text content */
  color: white; /* Text color */
}

.introductionContent h1 {
  margin: 0;
  font-size: 1em; /* Adjust size as needed */
  margin-bottom: 1rem;
}

.introductionContent p {
  margin: 0;
  font-size: 0.8em; /* Adjust size as needed */
}

.socialmedialinks{
  display: flex;
  
}
.github{
  width: 50%;
  padding: 0.2em;
  text-decoration: none; /* Remove underline */
  color: var(--primary-light-icon); /* Ensure the text color matches the rest */
  margin: 1rem 0; /* Margin between rows */
  transition: width 0.4s, padding 0.4s, color 0.4s, margin 0.4s; /* Define transition properties and duration */
}
.linkedin {
  width: 50%;
  padding: 0.2em;
  text-decoration: none; /* Remove underline */
  color: var(--primary-light-icon); /* Ensure the text color matches the rest */
  margin: 1rem 0; /* Margin between rows */
  transition: width 0.4s, padding 0.4s, color 0.4s, margin 0.4s; /* Define transition properties and duration */
}

.github:hover {
  padding: 0.2em;
  text-decoration: none; /* Remove underline */
  color: var(--primary-light-text); /* Ensure the text color matches the rest */
  margin: 1rem 0; /* Margin between rows */
}
.linkedin:hover {
  padding: 0.2em;
  text-decoration: none; /* Remove underline */
  color: var(--primary-light-text); /* Ensure the text color matches the rest */
  margin: 1rem 0; /* Margin between rows */
}

.breadcrumbContent {
  margin-top: 20px; /* Space above breadcrumb */
}

.breadcrumb {
  font-size: 0.9em; /* Smaller font size for breadcrumb */
  color: var(--primary-light-text); /* Light color for breadcrumb */
}


@media (min-width: 1024px) {
  .introductionContainer {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if there are more items than can fit */
    justify-content: space-between; /* Space items evenly */
    gap: 20px; /* Space between items */
  }

  .introductionWrapper {
    display: inline-block; /* Ensure items are displayed inline-block */
    width: calc(50% - 20px); /* Adjust width based on the gap */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-right: 20px;
  }
}

