/* SkillCard.module.css */

.skillCardContainer {
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);

    transition: max-height 0.3s ease;
  }
  
  .skillCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    background-color: transparent; /* Adjust color */
    color: white;
  }
  
  .arrow {
    font-size: 18px;
  }
  
  .skillList {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
    transition: max-height 0.3s ease;
  }
  
  .skillItem {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .skillItem:last-child {
    border-bottom: none;
  }
  
  .skillIcon {
    font-size: 24px; /* Adjust icon size */
    margin-right: 10px;
  }
  
  .skillName {
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .skillCardContainer {
      max-width: 100%;
    }
  }
  